.review_container {
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
}

.review_right {
    display: flex;
} 

.review_right div {
    margin-left: 15px;
}

.review_right div:first-of-type {
    background-color: #a2a3a5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.equalizer {
    margin-left: 7px;
    margin-top: 6px;
}

.details_review_button button {
width: 150px;
height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.select_wrapper {
    display: inline-block;
    position: relative;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   padding-left: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: satoshi;
  }
  
  option {
    font-size: 12px; /* Set the font size for the options */
  }
  /* Style the arrow */
  .select_wrapper::after {
    content: '\25BC'; /* Downward arrow */
    position: absolute;
    top: 47%;
    right: 10px;
    transform: translateY(-50%);
  }
  

  .ratings_review {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
  }

  .allreview_line {
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .ratings_review p {
    font-family: satoshi;
    font-weight: bold;
  }

  .review_numbers p {
    font-family: satoshi;
    font-size: 20px;
    font-weight: bold;
  }

  .customer_container {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .review_numbers span {
    font-size: 12px;
    font-weight: 400;
  }

  .customer_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    grid-gap: 20px;
  }

  .customer_box {
    border: 1px solid #dbd8d8;
    border-radius: 15px;
}


.customer_box p {
  margin-left: 15px;
  margin-right: 12px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.customer_box p:first-of-type {
  color: #FFC633;
  font-size: 20px;
}

.customer_box p:nth-of-type(2) {
  font-weight: 700;
  font-family: satoshi;
  font-size: 20px;
}

.customer_box p:nth-of-type(3),
 .customer_box p:nth-of-type(4) {
  font-family: satoshi;
  font-size: 15px;
}

.customer_verified {
  color: #008000;
}

.customer_box span {
  margin-left: 3px;
}

.load_more_button {
text-align: center;
margin-top: 40px;
margin-bottom: 20px;
}

.load_more_button button {
  width: 180px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.4);
font-family: satoshi;
font-size: 16px;
cursor: pointer;
background-color:#fff

}


