.everything {
  max-width: 80%;
  margin: auto;
}


.card_containers {
  margin: 20px 30px;
}

.cart_horizontal_top {
  margin-top: 15px;
  margin-bottom: 30px;
  opacity: 80%;
}

.cart_headings h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
font-size: 30px;
margin-bottom: 30px;
}

.cart_content {
  display: flex;
}

.delete_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 70px;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.card_wrapper {
  margin: 10px; /* Adjust margin as needed */
}

.cart_left {
  flex: 0 0 65%;
  margin-right: 10px;
}

.cart_details_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 25px;
}

/* .card_containers {
  margin-bottom: 20px;
} */

.cart_left_left {
  display: flex;
}

.cart_image {
  margin-right: 20px;
}

.cart_image img {
  width: 125px;
  height: 125px;
  border-radius: 8px;
}

.cart_items p:first-of-type {
font-weight: bold;
font-size: 20px;
font-family: satoshi;
}

.cart_items p {
  font-family: satoshi;
  font-size: 16px;
  margin-bottom: 7px;
}

.cart_items p:last-child {
  font-size: 23px;
  font-family: satoshi;
  font-weight: bold;
  margin-top: 17px;
}


.cart_right {
  flex: 0 0 35%;
  margin-left: 10px;
}

.order_summary {
font-size: 20px;
font-weight: bold;
}

.order_content {
  display: flex;
  flex-direction: column;
}

.order_content p {
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.cart_details_discount {
color: red;
font-size: 16px;
margin-left: 10px;
}

.cart_order_span   {
  margin-left: auto;
  font-weight: bold;
}

.order_aply_buttton input {
width: 150px;
height: 25px;
border-radius: 40px;
}

.order_aply_buttton button {
  height: 30px;
  margin-left: 25px;
border-radius: 40px;
width: 80px;
background-color: #000;
border: none;
color: #fff;
font-size: 15px;
font-family: satoshi;
}

.checkout_order_button button {
  height: 30px;
border-radius: 40px;
width: 100%;
margin-top: 20px;
background-color: #000;
border: none;
color: #fff;
font-size: 18px;
font-family: satoshi;
}

.order_content p:nth-child(3) span {
  color: red;
}


.add_minus_button {
    display: flex;
    margin-top: 10px;
}

.add_minus{
    display: flex;
    align-items: center;
  }
  
  .add_button,
  .remove_button {
    background-color: #6f7071;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .item_count {
    font-size: 18px;
    padding: 0 10px;
  }

  .cart_horizontal_line {
    opacity: 70%;
  }

  .no_prouct_in_cart {
    text-align: center;
    font-size: 30px;
    max-width: 50%;
    margin: auto;
  }