.product_details_container {
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 50px;
}

.left_details {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.right_details {
    width: 50%;
    margin-left: 20px;
}

.left_3_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.each_image_div img {
    width: 100%;
    margin-bottom: 6px;
}

.right_single_image img {
    width: 100%;
}

.top_details h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.details_ratings {
    color: #FFC633;
    margin-top: 5px;
}

.details_ratings span {
    color: black;
    font-size: 11px;
    margin-left: 5px;
    font-family: satoshi;
}

.details_prices {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.details_prices p {
    margin-right: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details_prices p:nth-of-type(2) {
    color: #b1adad;
    text-decoration: line-through;
}

.details_prices p:nth-of-type(3) {
    background-color: #f7c6c6;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    font-family: satoshi;
    color: #FF3333;
}

.details_text {
    font-family: satoshi;
    font-size: 16px;
}

.details_horizontal_line {
    margin-top: 20px;
    opacity: 50%  
}

.choose_color p, .choose_size p {
    font-size: 16px;
    font-family: satoshi;
    margin-top: 15px;
}

.colors_div {
    margin-top: 10px;
    cursor: pointer;
}

.size_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.size_div {
    margin-top: 10px;
}

.size_button button {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-family: satoshi;
    font-size: 15px;
    margin-right: 10px;
}

.warning_message {
    height: 40px;
    width: 250px;
    position: absolute;
    right: 2%;
    top: 10%;
    background-color: rgb(210, 91, 91);
    font-size: 1rem;
    color: white;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.add_minus_button {
    display: flex;
    margin-top: 10px;
}


  .add_to_cart button {
    width:250px;
    height: 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-family: satoshi;
    font-size: 15px;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
  }




  @media screen and (max-width: 1120px) {
    .size_button button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 944px) {
    .add_to_cart button {
        width: 150px;
    }
  }



  @media screen and (max-width: 767px)  {
.product_details_container {
    display: block;
}

.left_details {
    display: block;
}

.left_3_image {
    display: flex;
    flex-direction: row;
}

.right_single_image {
   justify-content: center;
   text-align: center;
   align-items: center;
}

.right_details {
    width: 100%;
    margin-left: 0;
}



  }
  


  @media screen and (max-width: 344px) {
    .add_minus_button {
        display: block;
    }

.add_to_cart {
    margin-left: 0;
    margin-top: 15px;
}

    .add_to_cart button {
        width: 100px;
        font-size: 13px;
    }
  }


  @media screen and (max-width: 187px) {
    .colors_div img {
        width: 100px;
    }
  }